*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.registerbody, .loginbody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
  }

.registerbody{
/*  background-image: url(https://i.pinimg.com/originals/3b/e8/ba/3be8ba724e3bc3c01ab91b478eae2749.gif);
*/  background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.loginbody{
/*  background-image: url(https://i.pinimg.com/originals/9b/a3/b2/9ba3b225db344aff6def3f407a370a62.gif);
*/  background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}

.container{
    border: 1px solid #8d8d8d;
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.container:hover{
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    transform: scale(1.05);
  }

.container .heading{
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bolder;
  }

.heading{
    color: black;
  }

.acc-text{
    color: black;
  }

.form{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }

.form .btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

.form .btn {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 8px;
    border: 1px solid #1043aa;
    border-bottom: 1px solid #90c2ff;
    background: linear-gradient(135deg, #0034de, #006eff);
    color: #fff;
    font-weight: bolder;
    box-shadow: 0px 2px 3px #000d3848, inset 0px 4px 5px #0070f0, inset 0px -4px 5px #002cbb;
    transition: all 0.2s ease;
    cursor: pointer;
  }


.form .btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 6px #000d3848, inset 0px 4px 5px #0070f0, inset 0px -4px 5px #002cbb;
  }

.form .btn:active {
    box-shadow: inset 0px 4px 5px #0070f0, inset 0px -4px 5px #002cbb;
    transform: scale(0.995);
  }

.input-field{
    position: relative;
  }

.input-field label {
    position: absolute;
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
  }

.input-field input {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
  }

.input-field input:focus,
.input-field input:valid{
    outline: none;
    border: 1px solid #0034de;
  }

.input-field input:focus ~ label,
.input-field input:valid ~ label{
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: white;
    padding: 0px 5px;
    color: #0034de;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
  }
